# Node.js dependencies
node_modules/

# Build directories
dist/
build/

# Environment files
.env

# OS-specific files
.DS_Store

# Logs and cache
npm-debug.log
yarn-error.log

# Editor/IDE settings
.vscode/
.idea/
